/* 样式格式化 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
em,
i {
	font-style: normal;
}
li {
	list-style:none;
}
img {
	border: 0;
	vertical-align: middle;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #426696;
}
button,
input {
	font-family: Arial, Helvetica, sans-serif;
	border: 0;
	outline: none;
}
body {
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	font: 12px/1.5 Arial, Helvetica, sans-serif;
	color: #fff;
}
.hide,
.none {
	display: none;
}
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}
.clearfix {
    *zoom: 1;
}
